- model_class = Memo
.page-header
  %h1= t '.title', default: model_class.model_name.human.pluralize.titleize
.page-body
- @memos.each do |memo|
  .panel.panel-default
    .panel-heading
      %h2= memo.title
    .panel-body
      .post-created_at
        %p= memo.created_at
      .post-description
        %p= memo.body
      .post-readmore
        -# = link_to t('.show', default: 'read more'), memo_path(memo), class: 'btn btn-primary'
        -# = link_to memo_path(memo) do
        %a{:class => 'btn btn-primary', :href => memo_path(memo) }
          Read More
          %span{:class => 'glyphicon glyphicon-chevron-right'}
